section(class="features section " +feaClass)
    h2.features__title.section-title #{featuresPlain1}
        span #{featuresBlue} 
        | #{featuresPlain2}
    ul.features__list
        for i in featList
            li.features__item
                span(class="features__icon " +i.type)
                h3.features__name=i.title
                p.features__description=i.text
    <!--SVG zone-->
    .features__svg
        svg(class="features__line" width="260" height="120" viewBox="0 0 260 120" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="features__line-dash" d="M2,1.66C-3.45,68,65.9,92.7,150.87,73.76c38.3-8.54,95.77-44.31,85.13,26.58")
            path(class="features__line-mask" d="M2,1.66C-3.45,68,65.9,92.7,150.87,73.76c38.3-8.54,95.77-44.31,85.13,26.58")
            //
            .features__top
