section(class="features section " +feaClass)
    h2.features__title.section-title #{featuresPlain1}
        span #{featuresBlue} 
        | #{featuresPlain2}
    ul.features__list
        for i in featList
            li.features__item
                span(class="features__icon " +i.type)
                h3.features__name=i.title
                p.features__description=i.text
    <!--SVG zone-->
    .features__svg
        svg(class="features__line" width="240" height="101" viewBox="0 0 240 101" fill="none" xmlns="http://www.w3.org/2000/svg")
            //- path(class="features__line-dash" d="M3.71175 0.775648C-5.20982 11.5016 12.1937 123.632 194.903 60.3825C246.19 42.628 240.896 86.5336 238.575 99.8566")
            path(class="features__line-mask" d="M3.71175 0.775648C-5.20982 11.5016 12.1937 123.632 194.903 60.3825C246.19 42.628 240.896 86.5336 238.575 99.8566")
            //
            .features__top
