section(class="features section " +feaClass)
    h2.features__title.section-title #{featuresPlain1}
        span #{featuresBlue} 
        | #{featuresPlain2}
    ul.features__list
        for i in featList
            li.features__item
                span(class="features__icon " +i.type)
                h3.features__name=i.title
                p.features__description=i.text
    <!--SVG zone-->
    .features__svg
        svg(class="features__line" width="241" height="101" viewBox="0 0 241 101" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="features__line-mask" d="M3.31722 1.13551C-5.60435 11.8615 11.7992 123.992 194.508 60.7424C245.796 42.9878 240.502 86.8935 238.181 100.216")
            //
            .features__top
