include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        include ../modules/header/header
        main.main
            section.intro.intro--credit
                h1.intro__title.title
                    | Кредиты на&nbsp;исполнение 
                    span государственных 
                    | контрактов
                .intro__info.intro__info--credit

                    ul.intro__info-list
                        li.intro__info-item
                            b.intro__info-title Госконтракты
                            ul.intro__list
                                li.intro__item
                                    span 44–ФЗ
                                li.intro__item
                                    span 223–ФЗ
                                li.intro__item
                                    span 615–ПП
                .intro__details
                    ul.intro__list
                        li.intro__item
                            span Без залога
                        li.intro__item
                            span Полностью онлайн
                        li.intro__item
                            span Погашение в конце срока из средств заказчика
                    //- form
                    form(method="post" action="#" name="callback-form").intro__form.callback__form
                        .callback__nr
                            .callback__nr-field
                                input(type="text" name="tel" id="tel-intro" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                                span.callback__error
                                        
                            button(type="submit").callback__submit Отправить заявку
                        span.callback__agree Нажимая кнопку, вы даете  
                            a(href="https://rowi.com/pravila/ROWI_Soglasie_OPD.pdf" target="_blank") согласие 
                            | на обработку персональных данных. 
                            a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политика конфиденциальности

                <!--btn link-->
                a(href="#conditions" target="_self").intro__scroll
                    span.intro__scroll-body
                        svg
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#chevron")
            //- Start new block
            section.options
                h2.options__title.section-title 
                    span Выгодные&nbsp;условия 
                    | для&nbsp;участников госконтрактов

                picture.options__frame
                    source(media="(min-width: 1200px)" srcset="static/images/content/opt-cre.jpg")
                    source(media="(min-width: 1200px)" srcset="static/images/content/opt-cre.webp 1x, static/images/content/opt-cre_2x.webp 2x" type="image/webp")
                    source(srcset="static/images/content/opt-cre-mob.webp 1x, static/images/content/opt-cre-mob_2x.webp 2x" type="image/webp")
                    img(src="static/images/content/opt-cre-mob.jpg" width="" height="" alt="КИК").options__frame-image
                
                .options__block
                    h3.options__subtitle Оборотный кредит
                    ul.options__list
                        each i in optList1
                            li.options__item=i
                .options__block
                    h3.options__subtitle Кредит на исполнение
                    ul.options__list
                        each i in optList2
                            li.options__item=i

                a(href="#form" target="_self").options__link Получить консультацию
                    svg
                        use(xlink:href="static/images/sprite/symbol/sprite.svg#white-arrow")
            //- End new block

            include ../modules/blocks/steps
            include ../modules/blocks/features
            
            //- new section
            section.cabinet
                h2.cabinet__title.section-title 
                    | Все 
                    span онлайн 
                    | в&nbsp;личном&nbsp;кабинете
                ul.cabinet__list
                    li.cabinet__item Кредит, платежи и выписки в одном месте
                    li.cabinet__item Условия и график платежей
                    li.cabinet__item Контроль оборотов и остатков
                    li.cabinet__item Заявка на кредит и контроль статуса
                    li.cabinet__item Чат поддержки
                <!--Change-->
                a(href="#order" target="_self").cabinet__link
                    picture.cabinet__visual
                        source(media="(min-width: 1200px)" srcset="static/images/content/cabinet-bg-lg.webp 1x, static/images/content/cabinet-bg-lg_2x.webp 2x" type="image/webp")
                        source(media="(min-width: 1200px)" srcset="static/images/content/cabinet-bg-lg.png 1x, static/images/content/cabinet-bg-lg_2x.png 2x")
                        source(srcset="static/images/content/cabinet-bg.webp 1x, static/images/content/cabinet-bg_2x.webp 2x" type="image/webp")
                        img(srcset="static/images/content/cabinet-bg.png 1x, static/images/content/cabinet-bg_2x.png" width="" height="" alt="").cabinet__visual-image
            //- end of new section

            section.chat.chat--credit
                .chat__about
                    h2.chat__title.section-title
                        span Удобный контакт 
                        | с&nbsp;личным&nbsp;менеджером
                    p.chat__description Наши менеджеры отлично разбираются в&nbsp;продукте и подберут финансирование под&nbsp;вашу потребность
                ul.chat__list
                    li.chat__item.chat__item-master
                        picture.chat__frame
                            source(srcset="static/images/content/chat-master-4.webp" type="image/webp")
                            img(src="static/images/content/chat-master-4.png" width="" height="" alt="Сотрудник чата").chat__frame-image
                        p.chat__text Максим, поступили первые деньги от госзаказчика. Мы перевели их на ваш счет
                    li.chat__item.chat__item-master
                        p.chat__text Погашение основного долга происходит в конце срока
                    li.chat__item.chat__item-client
                        picture.chat__frame
                            source(srcset="static/images/content/chat-client-4.webp" type="image/webp")
                            img(src="static/images/content/chat-client-4.png" width="" height="" alt="Клиент чата").chat__frame-image
                        p.chat__text Отлично, Глеб. Спасибо
                <!---->
                a(href="" target="_self").chat__link Связаться с менеджером
                <!---->
                <!--SVG zone-->
                .chat__svg    
                    svg(class="chat__line chat__line--mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 114 119")
                        path(class="chat__line-mask" d="M75.3172 1.18822C113.01 38.7346 81.0176 73.3986 64.1788 71.6351C24.5624 67.4862 79.0507 -13.0814 107.127 31.3887C135.53 76.3752 54.3049 119.781 1.00038 113C5.83359 111.833 12.5 112.4 14.5 108C11.6667 110.833 9.7 111.1 14.5 117.5C13.9999 116.5 10.1997 116.2 5 115")
                            
                    svg(class="chat__line chat__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204 202" fill="none")
                        path(class="chat__line-mask" d="M1,108.3c77.1-31.9,83,16.3,74.7,32c-3.8,7.2-10.5,4.3-13.3-4.1c-5.6-17.3,25.1-38.2,81.8-13.8c28.1,12.1,46.3-15.8,51-37.9")
                        path(class="chat__line-top" d="M198.2,95.3c-2.8-2.6-3.9-8.9-3-10.7c-1.4,1.4-3.4,8-8,9.3")
       
            //- new section
            section.banner.banner--credit
                a(href="#" target="_self").banner__link
                    span.banner__sticker Спецпредложение
                    h2.banner__title
                        span Доход 6% 
                        | на&nbsp;остаток
                    p.banner__about Кредит выдается на расчетный счет в КИВИ Банке
                    p.banner__about На остаток средств на счете начисляется доход 6% годовых

                    ul.banner__list
                        li.banner__item 
                            p.banner__about За каждый день
                        li.banner__item 
                            p.banner__about без ограничений на сумму остатка и процентов
            //- end of new section

            section.about.about--credit
                h2.about__title.section-title ROWI — ваш 
                    span надёжный 
                    | финансовый партнер
                p.about__description КИВИ банк (АО) входит в группу QIWI. QIWI PLC — одна из крупнейших компаний на российском платёжном рынке. КИВИ банк (АО) находится на первых позициях в текущем рейтинге эффективных банков по данным Коммерсант 
                    sup
                        a(href="https://www.kommersant.ru/doc/4997257" target="_blank") 1
                        
                ul.about__list.about__list--credit
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__nr 10
                            p.about__subtitle миллионов рублей
                            p.about__text Средняя сумма кредита
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle 50%
                            p.about__text Повторных кредитов
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle быстро и&nbsp;по делу

            section.callback.callback--credit#order
                h2.callback__title.section-title Оставьте 
                    span заявку 
                    | на&nbsp;кредит и&nbsp;получите решение 
                p.callback__description Укажите телефон для&nbsp;заявки или&nbsp;консультации
                
                form(method="post" action="#" name="callback-form").callback__form
                    .callback__nr
                        .callback__nr-field
                            input(type="text" name="tel" id="tel" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                            span.callback__error
                            
                        button(type="submit").callback__submit Отправить заявку
                    span.callback__agree Нажимая кнопку, вы даете  
                        a(href="https://rowi.com/pravila/ROWI_Soglasie_OPD.pdf" target="_blank") согласие 
                        | на обработку персональных данных. 
                        a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политика конфиденциальности
                <!--SVG zone-->
                .callback__svg
                    svg(class="callback__line" width="216" height="293" viewBox="0 0 216 293" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="callback__line-mask" d="M5.9,1c0,0,77,8.6,120,51.5c86.2,85.9-14,131.5-21.5,104.5s111.5-1,111.5,56s-131,90.8-210,53")
                        path(class="callback__line-top" d="M37.5,263.1c-9,5.1-24.7,4.1-31.5,3c6.7,4.7,21.4,15.7,25.9,22.4")            include ../modules/blocks/conditions
            
            section(class="faq " +faqClass)
                h2.faq__title.section-title Популярные 
                    span вопросы
                ul.faq__list
                    for i in faqData 
                        li.faq__wrap
                            details.faq__item
                                summary.faq__name=i.title
                                p.faq__description=i.description
            
            include ../modules/blocks/materials
        
        include ../modules/footer/footer

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
