include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        .popup-fact
            p.popup-fact__description Добро пожаловать на новую страницу ROWI Факторинг Плюс. Мы переехали с factoringplus.ru
            button(type="button").popup-fact__closer
        include ../modules/header/header
        main.main
            section.intro.intro--factoring
                h1.intro__title.title
                    | Факторинг Плюс — до 
                    span 100% 
                    | суммы сразу после поставки
                .intro__info.intro__info--factoring
                    ul.intro__info-list
                        li.intro__info-item
                            span.intro__info-name Заявка одобрена
                    picture.intro__frame
                        source(media="(min-width: 1200px)" srcset="static/images/content/factoring-intro-lg.svg")
                        img(src="static/images/content/factoring-intro-mb.svg" width="155" height="112" alt="").intro__frame-img
                .intro__details
                    ul.intro__list
                        li.intro__item
                            span Решение за 15 минут
                        li.intro__item
                            span Без залога и оценки финсостояния
                        li.intro__item
                            span Полностью онлайн
                    //- form
                    form(method="post" action="#" name="callback-form").intro__form.callback__form
                        .callback__nr
                            .callback__nr-field
                                input(type="text" name="tel" id="tel-intro" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                                span.callback__error
                                        
                            button(type="submit").callback__submit Отправить заявку
                        span.callback__agree Нажимая кнопку, вы соглашаетесь на 
                            a(href="" target="_blank") обработку персональных данных
    
            section.features.features--factoring
                h2.features__title.section-title
                    span Факторинг 
                    | — это финансирование контрактов с отсрочкой платежа 
                p.features__about Деньги выдаются без залога сразу после поставки. Погашение осуществляется&nbsp;из средств заказчика.  Это проще и быстрее, чем кредит.
                .features__svg.features__svg--factoring
                    svg(class="features__line features__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284 100")
                        path(class="features__line-mask" d="M181.999 1.0007C220.498 10.0005 289.854 40.2323 280.998 74.3466C269.826 117.383 8.99294 19.4046 1.64341 63.9717C-1.73714 84.4711 16.9987 97.8464 16.9987 97.8464C15.9986 95.7309 10.8984 87.5 10.4984 83.5C10.1167 85.7179 9.2823 91.6229 4.99835 93.5C0.7144 95.3771 6.49835 95 6.49835 95C7.66502 95.0643 9.89835 94.6771 11.4984 96")
                
                ul.features__list
                    li.features__item
                        span.features__icon.fea-2
                        h3.features__name Для тех, кто
                        
                        ul.features__sublist
                            li.features__sublist-item
                                span Работает по отсрочке платежа
                            li.features__sublist-item
                                span Ценит скорость
                            li.features__sublist-item
                                span Является любой формой МСБ
                    li.features__item
                        span.features__icon.fea-4
                        h3.features__name Что дает
                        
                        ul.features__sublist
                            li.features__sublist-item
                                span Пополнение оборотных средств для увеличения объемов продаж
                            li.features__sublist-item
                                span Возможность заключать больше контрактов с отсрочкой
                            li.features__sublist-item
                                span Снижение риска неплатежа со&nbsp;стороны покупателя
                                
                a(href="#order" target="_self").features__order Получить консультацию
                <!--guide-->
                .features__guide
                    a(href="guide.html" target="_self").features__guide-link Гайд по факторингу
                    p.features__guide-about В нем собрана полезная информация о факторинге

                    .features__svg.features__svg-2
                        svg(class="features__line features__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343 184")
                            path(class="features__line-mask" d="M305.723 132.444C305.723 132.444 265.665 183 171.5 183C77.3354 183 1 142.258 1 92C1 41.7421 77.3354 1 171.5 1C265.665 1 342 41.7421 342 92C342 132.444 295.5 162.246 295.5 162.246")
                        svg(class="features__line features__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418 212")
                            path(class="features__line-mask" d="M372.745 152.667C372.745 152.667 323.875 211 209 211C94.1248 211 1 163.99 1 106C1 48.0101 94.1248 1 209 1C323.875 1 417 48.0101 417 106C417 152.667 360.273 187.053 360.273 187.053")
                                           
            <!--Callback-->
            section.callback.callback--factoring#order
                h2.callback__title.section-title Оставьте заявку на&nbsp;факторинг и&nbsp;получите решение 
                    span сегодня
                p.callback__description Укажите телефон для&nbsp;заявки или консультации
                        
                form(method="post" action="#" name="callback-form").callback__form
                    .callback__nr
                        .callback__nr-field
                            input(type="text" name="tel" id="tel" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                            span.callback__error
                                    
                        button(type="submit").callback__submit Отправить заявку
                    span.callback__agree Нажимая кнопку, вы соглашаетесь на 
                        a(href="" target="_blank") обработку персональных данных
                        
                <!--SVG zone-->
                .callback__svg
                    svg(class="callback__line" width="212" height="288" viewBox="0 0 212 288" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="callback__line-mask" d="M1 1C1 1 78 9.59123 121 52.2409C207.164 137.703 107 183.08 99.5 156.26C92 129.441 211 155.265 211 211.934C211 268.602 80.0366 302.243 1 264.667M1 264.667C7.74563 265.791 23.4872 266.773 32.4883 261.717M1 264.667C7.74563 269.302 22.362 280.258 26.8626 287")
            include ../modules/blocks/conditions
            
            section.steps.steps--factoring
                h2.steps__title.section-title #{stepsTitle1}
                    span #{stepsTitleBlue} 
                    | #{stepsTitle2}
                ul(class="steps__list " +stepsClass)
                    for i in steps
                        li.steps__item
                            span(class="steps__icon " +i.img)
                            h3.steps__name=i.name
                            p.steps__description=i.description
                            
                a(href="#order" target="_self").steps__order Оставить заявку
                
            section.chat.chat--factoring
                .chat__about
                    h2.chat__title.section-title
                        span Удобный контакт 
                        | с&nbsp;личным&nbsp;менеджером
                    p.chat__description Наши менеджеры отлично разбираются в&nbsp;продукте и подберут финансирование под&nbsp;вашу потребность
                ul.chat__list
                    li.chat__item.chat__item-master
                        picture.chat__frame
                            source(srcset="static/images/content/chat-master-2.webp" type="image/webp")
                            img(src="static/images/content/chat-master-2.png" width="" height="" alt="Сотрудник чата").chat__frame-image
                        p.chat__text Андрей, мы уже отправили вам финансирование, так как проверка происходит автоматически
                    li.chat__item.chat__item-client
                        picture.chat__frame
                            source(srcset="static/images/content/chat-client-2.webp" type="image/webp")
                            img(src="static/images/content/chat-client-2.png" width="" height="" alt="Клиент чата").chat__frame-image
                        p.chat__text Ольга, я загрузил поставки на финансирование в личном кабинете. Проверьте
                
                <!--SVG zone-->
                .chat__svg    
                    svg(class="chat__line chat__line--mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 158 100")
                        path(class="chat__line-mask" d="M75.6525 1.44187C75.6525 65.4421 173.498 91.4995 154.652 55.9418C135.502 19.8099 52.5876 46.9419 1.58857 98.4419M1.58857 98.4419C2.86184 95.7944 5.99847 88.4995 3.99848 84.9995M1.58857 98.4419C3.72521 96.2944 9.39849 92.1995 14.9985 92.9995")
                    svg(class="chat__line chat__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275 182" fill="none")
                        path(class="chat__line-mask" d="M231.57,6.65C169.53,93.1,251,179.91,268.31,152.9c25.93-40.5-53.59-76.29-155.23,6.42-41.7,33.93-85.71,21.54-108.66-2.45")
                        .chat__top
            include ../modules/blocks/account      
            section.about.about--factoring
                h2.about__title.section-title ROWI — ваш 
                    span надёжный 
                    | финансовый партнер
                ul.about__list
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__nr 45
                            p.about__subtitle миллиардов рублей
                            p.about__text Выданного финансирования
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle Tоп-2
                            p.about__text По количеству новых клиентов факторинга
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle 10 лет
                            p.about__text Экспертизы на&nbsp;рынке факторинга
                        
            section(class="faq " +faqClass)
                h2.faq__title.section-title Популярные 
                    span вопросы
                ul.faq__list
                    for i in faqData 
                        li.faq__wrap
                            details.faq__item
                                summary.faq__name=i.title
                                p.faq__description=i.description
            
            include ../modules/blocks/materials
        include ../modules/footer/footer
        include ../modules/blocks/popup-thx
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
