include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        .popup-fact
            p.popup-fact__description Добро пожаловать на новую страницу ROWI Факторинг Плюс. Мы переехали с factoringplus.ru
            button(type="button").popup-fact__closer
        include ../modules/header/header
        main.main
            section.intro.intro--factoring
                h1.intro__title.title
                    | Факторинг Плюс — до 
                    span 100% 
                    | суммы сразу после поставки
                .intro__info.intro__info--factoring
                    ul.intro__info-list
                        li.intro__info-item
                            span.intro__info-name Заявка одобрена

                    .intro__svg
                        svg(class="intro__line intro__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 147 118" fill="none")
                            path(class="intro__line-mask" d="M6.5,5.4c5.2,66.2,84.8,147.7,104.4,95.2c15.8-42.2-17.2-40.7-8.3-11.4c4.7,15.5,18.1,23.7,30,17.3  c4.6-2.5,8.8-6.3,12.3-11.1")
                            path(class="intro__line-top" d="M14,20.1C6.3,13.6,7,6,6.1,3.6c1,3.1,0,14.1-1,21.4")
                        svg(class="intro__line intro__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 249 267" fill="none")
                            path(class="intro__line-mask" d="M23.8,264.4C-23.8,181,8.6,67,88.5,73.9c64.3,5.5,42,47.4,9.6,17.7C81,76,78.7,53.6,94.3,42.2  c36.2-26.6,99.2-46.7,152.8-39.3")
                            path(class="intro__line-top" d="M24.1,239.5c0,11.2,0,22.3,0,26.4c-2.7-3.5-9.9-11-17.5-13.4")

                .intro__details
                    ul.intro__list
                        li.intro__item
                            span Решение за 15 минут
                        li.intro__item
                            span Без залога и оценки финсостояния
                        li.intro__item
                            span Полностью онлайн
                    //- form
                    form(method="post" action="#" name="callback-form").intro__form.callback__form
                        .callback__nr
                            .callback__nr-field
                                input(type="text" name="tel" id="tel-intro" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                                span.callback__error
                                        
                            button(type="submit").callback__submit Отправить заявку
                        span.callback__agree Нажимая кнопку, вы даете  
                            a(href="https://rowi.com/pravila/ROWI_Soglasie_OPD.pdf" target="_blank") согласие 
                            | на обработку персональных данных. 
                            a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политика конфиденциальности
    
            section.features.features--factoring
                h2.features__title.section-title
                    span Факторинг 
                    | — это финансирование контрактов с отсрочкой платежа 
                p.features__about Деньги выдаются без залога сразу после поставки. Погашение осуществляется&nbsp;из средств заказчика.  Это проще и быстрее, чем кредит.
                
                .features__svg.features__svg--factoring
                    svg(class="features__line features__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284 100")
                        path(class="features__line-mask" d="M181.999 1.0007C220.498 10.0005 289.854 40.2323 280.998 74.3466C269.826 117.383 8.99294 19.4046 1.64341 63.9717C-1.73714 84.4711 16.9987 97.8464 16.9987 97.8464C15.9986 95.7309 10.8984 87.5 10.4984 83.5C10.1167 85.7179 9.2823 91.6229 4.99835 93.5C0.7144 95.3771 6.49835 95 6.49835 95C7.66502 95.0643 9.89835 94.6771 11.4984 96")
                    svg(class="features__line features__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 638 212")
                        path(class="features__line-mask" d="M107.526 1C107.526 1 -121.192 176.396 94.8141 206.109C289.097 232.828 561.143 143.043 637 106.836C633.214 110.418 625.16 118.738 623.23 123.366C622.104 117.856 619.08 106.836 615.991 106.836C612.903 106.836 621.782 107.894 626.608 108.423")
                
                ul.features__list
                    li.features__item
                        span.features__icon.fea-2
                        h3.features__name Для тех, кто
                        
                        ul.features__sublist
                            li.features__sublist-item
                                span Работает по отсрочке платежа
                            li.features__sublist-item
                                span Ценит скорость
                            li.features__sublist-item
                                span Является любой формой МСБ
                    li.features__item
                        span.features__icon.fea-4
                        h3.features__name Что дает
                        
                        ul.features__sublist
                            li.features__sublist-item
                                span Пополнение оборотных средств для увеличения объемов продаж
                            li.features__sublist-item
                                span Возможность заключать больше контрактов с отсрочкой
                            li.features__sublist-item
                                span Снижение риска неплатежа со&nbsp;стороны покупателя
                                
                a(href="#order" target="_self").features__order Получить консультацию
                <!--guide-->
                .features__guide
                    a(href="guide.html" target="_self").features__guide-link Гайд по факторингу
                    p.features__guide-about В нем собрана полезная информация о факторинге

                    .features__svg.features__svg--guide
                        svg(class="features__line features__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343 184")
                            path(class="features__line-mask" d="M305.723 132.444C305.723 132.444 265.665 183 171.5 183C77.3354 183 1 142.258 1 92C1 41.7421 77.3354 1 171.5 1C265.665 1 342 41.7421 342 92C342 132.444 295.5 162.246 295.5 162.246")
                        svg(class="features__line features__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418 212")
                            path(class="features__line-mask" d="M372.745 152.667C372.745 152.667 323.875 211 209 211C94.1248 211 1 163.99 1 106C1 48.0101 94.1248 1 209 1C323.875 1 417 48.0101 417 106C417 152.667 360.273 187.053 360.273 187.053")
                                           
            <!--Callback-->
            section.callback.callback--factoring#order
                h2.callback__title.section-title Оставьте заявку на&nbsp;факторинг и&nbsp;получите решение 
                    span сегодня
                p.callback__description Укажите телефон для&nbsp;заявки или консультации
                        
                form(method="post" action="#" name="callback-form").callback__form
                    .callback__nr
                        .callback__nr-field
                            input(type="text" name="tel" id="tel" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                            span.callback__error
                                    
                        button(type="submit").callback__submit Отправить заявку
                    span.callback__agree Нажимая кнопку, вы даете  
                        a(href="https://rowi.com/pravila/ROWI_Soglasie_OPD.pdf" target="_blank") согласие 
                        | на обработку персональных данных. 
                        a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политика конфиденциальности
                        
                <!--SVG zone-->
                .callback__svg
                    svg(class="callback__line" width="217" height="293" viewBox="0 0 217 293" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="callback__line-mask" d="M5.9,1c0,0,77,8.6,120,51.5c86.2,85.9-14,131.5-21.5,104.5s111.5-1,111.5,56s-131,90.8-210,53")
                        path(class="callback__line-top" d="M37.5,263.1c-9,5.1-24.7,4.1-31.5,3c6.7,4.7,21.4,15.7,25.9,22.4")            include ../modules/blocks/conditions
            
            section.steps.steps--factoring
                h2.steps__title.section-title #{stepsTitle1}
                    span #{stepsTitleBlue} 
                    | #{stepsTitle2}
                ul(class="steps__list " +stepsClass)
                    for i in steps
                        li.steps__item
                            span(class="steps__icon " +i.img)
                            h3.steps__name=i.name
                            p.steps__description=i.description
                            
                a(href="#order" target="_self").steps__order Оставить заявку
                
            section.chat.chat--factoring
                .chat__about
                    h2.chat__title.section-title
                        span Удобный контакт 
                        | с&nbsp;личным&nbsp;менеджером
                    p.chat__description Наши менеджеры отлично разбираются в&nbsp;продукте и подберут финансирование под&nbsp;вашу потребность
                ul.chat__list
                    li.chat__item.chat__item-master
                        picture.chat__frame
                            source(srcset="static/images/content/chat-master-2.webp" type="image/webp")
                            img(src="static/images/content/chat-master-2.png" width="" height="" alt="Сотрудник чата").chat__frame-image
                        p.chat__text Андрей, мы уже отправили вам финансирование, так как проверка происходит автоматически
                    li.chat__item.chat__item-client
                        picture.chat__frame
                            source(srcset="static/images/content/chat-client-2.webp" type="image/webp")
                            img(src="static/images/content/chat-client-2.png" width="" height="" alt="Клиент чата").chat__frame-image
                        p.chat__text Ольга, я загрузил поставки на финансирование в личном кабинете. Проверьте
                
                <!--SVG zone-->
                .chat__svg    
                    svg(class="chat__line chat__line--mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 158 100")
                        path(class="chat__line-mask" d="M75.1,0.9c0,64,97.8,90.1,79,54.5C134.9,19.3,52,46.4,1,97.9")
                        path(class="chat__line-top" d="M3.3,84.6c2,3.5-1.1,10.8-2.4,13.4c2.1-2.1,7.8-6.2,13.4-5.4")
                    svg(class="chat__line chat__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 308 192" fill="none")
                        path(class="chat__line-mask" d="M267.8,0.8c-68.7,88,15.5,178.6,33.1,151.1c25.9-40.5-53.6-76.3-155.2,6.4  c-43.4,35.3-89.3,20.5-111.3-5.4")
                        path(class="chat__line-top" d="M37.7,167.9c1.6-5-2.2-9.7-3-14.8c6,3.8,8.5,3.3,16,1.3")
            include ../modules/blocks/account      
            
            section.about.about--factoring
                h2.about__title.section-title ROWI — ваш 
                    span надёжный 
                    | финансовый партнер
                ul.about__list
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__nr 45
                            p.about__subtitle миллиардов рублей
                            p.about__text Выданного финансирования
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle Tоп-2
                            p.about__text По количеству новых клиентов факторинга
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle 10 лет
                            p.about__text Экспертизы на&nbsp;рынке факторинга
                        
            section(class="faq " +faqClass)
                h2.faq__title.section-title Популярные 
                    span вопросы
                ul.faq__list
                    for i in faqData 
                        li.faq__wrap
                            details.faq__item
                                summary.faq__name=i.title
                                p.faq__description=i.description
            
            include ../modules/blocks/materials
        include ../modules/footer/footer
        include ../modules/blocks/popup-thx
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
